@model ChildrenDaycare.Controllers.SlotController
@{
    ViewData["Title"] = "bookpage";
}

<h1>Enter Booking Details</h1>
<br />
<hr />
@if (ViewBag.msg != "")
{
    <span style="background-color:orangered">@ViewBag.msg</span>
}
<hr />
<br />
<form method="post" asp-action="bookslot" asp-controller="Slot">
    <table border="1">
        <tr>
            <th>Slot ID</th>
            <td>
                <input type="text" asp-for="slot.SlotID" readonly />
                <input type="hidden" asp-for="slot.SlotID" />
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                <input type="text" asp-for="slot.SlotDate" readonly />
                <input type="hidden" asp-for="slot.SlotDate" />
            </td>
        </tr>
        <tr>
            <th>Start Time</th>
            <td>
                <input type="text" asp-for="slot.StartTime" readonly />
                <input type="hidden" asp-for="slot.StartTime" />
            </td>
        </tr>
        <tr>
            <th>End Time</th>
            <td>
                <input type="text" asp-for="slot.EndTime" readonly />
                <input type="hidden" asp-for="slot.EndTime" />
            </td>
        </tr>
        <tr>
            <th>Takecare Giver</th>
            <td>
                <input type="text" asp-for="TakecareGiverName" readonly />
                <input type="hidden" asp-for="slot.TakecareGiverID" />
            </td>
        </tr>
        <tr>
            <th>Child Fullname</th>
            <td>
                <input asp-for="slot.ChildFullname" required>
                <span asp-validation-for="slot.ChildFullname"></span>
            </td>
        </tr>
        <tr>
            <th>Child Age</th>
            <td>
                <input asp-for="slot.ChildAge" required>
                <span asp-validation-for="slot.ChildAge"></span>
            </td>
        </tr>
        <tr>
            <th>Child DOB</th>
            <td>
                <input asp-for="slot.ChildDOB" class="form-control" type="date" required>
                <span asp-validation-for="slot.ChildDOB"></span>
            </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>
                <input type="text" asp-for="slot.SlotPrice" readonly />
                <input type="hidden" asp-for="slot.SlotPrice" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="hidden" asp-for="slot.isBooked" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="hidden" asp-for="slot.BookerID" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><button class="btn-outline-info" type="submit">Book Slot</button></td>
        </tr>
</form>

