@model ChildrenDaycare.Controllers.SlotController
@{
    ViewData["Title"] = "editpage";
}

<h1>Edit Slot Information</h1>
<br />
<hr />
<br />
<form method="post" asp-action="editslot" asp-controller="Slot">
    <table border="1">
        <tr>
            <th>Slot ID</th>
            <td>
                <input type="text" asp-for="slot.SlotID" readonly />
                <input type="hidden" asp-for="slot.SlotID" />
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                <input asp-for="slot.SlotDate" class="form-control" type="date" />
                <span asp-validation-for="slot.SlotDate"></span>
            </td>
        </tr>
        <tr>
            <th>Time</th>
            <td>
                <select asp-for="slot.StartTime" asp-items="@Model.TimeOption" class="form-control"></select>
                <span asp-validation-for="slot.StartTime"></span>
            </td>
        </tr>
        <tr>
            <th>Takecare Giver</th>
            <td>
                <select asp-for="slot.TakecareGiverID" asp-items="@Model.TakecareGiverOption" class="form-control"></select>
                <span asp-validation-for="slot.TakecareGiverID"></span>
            </td>
        </tr>
        <tr>
            <th>Child Fullname</th>
            <td>
                <input type="text" asp-for="slot.ChildFullname" readonly />
                <input type="hidden" asp-for="slot.ChildFullname" />
            </td>
        </tr>
        <tr>
            <th>Child Age</th>
            <td>
                <input type="text" asp-for="slot.ChildAge" readonly />
                <input type="hidden" asp-for="slot.ChildAge" />
            </td>
        </tr>
        <tr>
            <th>Child DOB</th>
            <td>
                @{
                    string formattedDate = Model.slot.ChildDOB?.ToString("yyyy-MM-dd");
                }
                <input type="text" asp-for="slot.ChildDOB" readonly value="@formattedDate" />
                <input type="hidden" asp-for="slot.ChildDOB" />
            </td>
        </tr>
        <tr>
            <th>Booker Name</th>
            <td>
                <input type="text" asp-for="BookerName" readonly />
            </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>
                <input asp-for="slot.SlotPrice" type="number" step="0.01">
                <span asp-validation-for="slot.SlotPrice"></span>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="hidden" asp-for="slot.isBooked" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="hidden" asp-for="slot.EndTime" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="hidden" asp-for="slot.BookerID" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><button class="btn-outline-info" type="submit">Update Slot Info</button></td>
        </tr>
</form>
