@model ChildrenDaycare.Controllers.SlotController
@{
    ViewData["Title"] = "editpage";
}

<h3 class="mb-5">Edit slot</h3>

<form method="post" asp-action="editslot" asp-controller="Slot" class="container py-2">
    <div class="row shadow p-4 border rounded">
        <div class="col-6">
            <h5>Slot details</h5>
            <p class="text-secondary">Detailed information about the slot.</p>
        </div>
        <div class="col-6">
            <div>
                <div class="mb-4">
                    <label asp-for="slot.SlotDate" class="control-label">Slot Date</label>
                    <input asp-for="slot.SlotDate" class="form-control" type="date" />
                    <span asp-validation-for="slot.SlotDate" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="slot.StartTime">Time</label>
                    <select asp-for="slot.StartTime" asp-items="@Model.TimeOption" class="form-control"></select>
                    <span asp-validation-for="slot.StartTime" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="slot.TakecareGiverID">Takecare Giver</label>
                    <select asp-for="slot.TakecareGiverID" asp-items="@Model.TakecareGiverSelectList" class="form-control"></select>
                    <span asp-validation-for="slot.TakecareGiverID" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="slot.SlotPrice">Price</label>
                    <input asp-for="slot.SlotPrice" class="form-control" aria-required="true" placeholder="25" required/>
                    <span asp-validation-for="slot.SlotPrice" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow p-4 border rounded mt-5">
        <div class="col-6">
            <h5>Child details</h5>
            <p class="text-secondary">Detailed information about the child.</p>
        </div>
        <div class="col-6">
            <div>
                <div class="mb-4">
                    <label asp-for="slot.ChildFullname">Child full name</label>
                    <input asp-for="slot.ChildFullname" class="form-control" aria-required="true" disabled/>
                    <span asp-validation-for="slot.ChildFullname" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="slot.ChildAge">Child age</label>
                    <input asp-for="slot.ChildAge" class="form-control" aria-required="true" disabled/>
                    <span asp-validation-for="slot.ChildAge" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="slot.ChildDOB">Child DOB</label>
                    @{
                        string formattedDate = Model.slot.ChildDOB?.ToString("yyyy-MM-dd");
                    }
                    <input type="text" asp-for="slot.ChildDOB" class="form-control" aria-required="true" value="@formattedDate" disabled/>
                    <span asp-validation-for="slot.ChildDOB" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow p-4 border rounded mt-5">
        <div class="col-6">
            <h5>Booker details</h5>
            <p class="text-secondary">Booker information.</p>
        </div>
        <div class="col-6">
            <div>
                <div class="mb-4">
                    <label asp-for="BookerName">Booker name</label>
                    <input asp-for="BookerName" class="form-control" aria-required="true" placeholder="John doe" disabled/>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="slot.SlotID" />
    <input type="hidden" asp-for="slot.ChildFullname" />
    <input type="hidden" asp-for="slot.ChildAge" />
    <input type="hidden" asp-for="slot.isBooked" />
    <input type="hidden" asp-for="slot.EndTime" />
    <input type="hidden" asp-for="slot.BookerID" />
    <div class="my-4">
        <button type="submit" class="btn btn-primary d-block mx-auto">Confirm</button>
    </div>
</form>
