@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="shadow-sm py-4 px-5 border rounded">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="width: 500px">
            <div class="mb-3">
                <label asp-for="Input.UserFullname">Fullname</label>
                <input asp-for="Input.UserFullname" class="form-control" autocomplete="userfullname" aria-required="true" placeholder="Laurentius Michael" />
                <span asp-validation-for="Input.UserFullname" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label asp-for="Input.UserAge">Age</label>
                    <input asp-for="Input.UserAge" class="form-control" autocomplete="userage" aria-required="true" placeholder="25" />
                    <span asp-validation-for="Input.UserAge" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Input.UserAddress">Address</label>
                    <input asp-for="Input.UserAddress" class="form-control" autocomplete="useraddress" aria-required="true" placeholder="Block A, 15th Floor, Jalan Tun Razak" />
                    <span asp-validation-for="Input.UserAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label asp-for="Input.UserDOB">Date of Birth</label>
                    <input asp-for="Input.UserDOB" class="form-control" autocomplete="userdob" aria-required="true" placeholder="08/31/1957" />
                    <span asp-validation-for="Input.UserDOB" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="••••••••" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="••••••••" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.userrole"></label>
                <select asp-for="Input.userrole" asp-items="Model.RoleSelectList" class="form-control"></select>
                <span asp-validation-for="Input.userrole" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary">Register</button>
            <p class="text-center mt-3 mb-0"><small>Don't have an account?
                <a asp-area="Identity" asp-page="/Account/Register"> Register</a></small>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
