@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="text-center lp-bg d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column text-white col-6">
                <h1 class="display-3 text-left left-align">The Only <span class="text-primary font-weight-bold">Children Day Care</span> Service You Need!</h1>
                <a class="btn btn-primary w-fit mt-4 px-4 py-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register Now!</a>
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/3787/3787134.png" alt="" width="450px">
        </div>
    </div>
</section>
