@{
    ViewData["Title"] = "Privacy Policy";
}

<section>
    <div class="container d-flex flex-column text-left"> 
        <h1>@ViewData["Title"]</h1>

        <div class="fw-bold mt-3">
            1. Introduction
        </div>
        <div>
            Welcome to WeCare. We respect your privacy and are committed to protecting your personal information. This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
        </div>
        <div class="fw-bold mt-3">
            2. What data do we collect?
        </div>
        <div>
            Our Daycare collects the following data:
            <ul>
                <li>Personal identification information (Name, email address, phone number, etc.)</li>
                <li>Children's information (Name, age, allergies, special needs, etc.)</li>
            </ul>
        </div>
        <div class="fw-bold mt-3">
            3. How do we collect your data?
        </div>
        <div>
            You directly provide our Daycare with most of the data we collect. We collect and process data when you:
            <ul>
                <li>Register your child online.</li>
                <li>Voluntarily complete a survey or provide feedback on any of our message boards or via email.</li>
                <li>Use or view our website via your browser's cookies.</li>
            </ul>
        </div>
        <div class="fw-bold mt-3">
            4. How will we use your data?
        </div>
        <div>
            Our Daycare collects your data so that we can:
            <ul>
                <li>Process your child's admission and manage your account.</li>
                <li>Email you with updates about our services and events.</li>
                <li>Understand your needs and preferences to serve you better.</li>
            </ul>
        </div>
        <div class="fw-bold mt-3">
            5. How do we store your data?
        </div>
        <div>
            Our Daycare securely stores your data at [Data Storage Location] using [Specific Security Measures]. We will keep your personal identification information for [X years/months]. Once this time period has expired, we will delete your data by [Data Deletion Method].
        </div>
    </div>
</section>
