
@{
    ViewData["Title"] = "Waiting";
}

<div class="text-center">
    <h2 class="display-4">Sorry, you are still unable to access this page</h2>
    <p>Wait for the admin to approve your request to become a Takecare Giver. Kindly be patient.</p>
</div>

